# Prerequisites
*.d

# Object files
*.o
*.obj

# Linker files
*.ilk
*.map
*.spec

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared Libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Visual Studio files
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
Restaura.da5b143d/

# MSBuild / Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.slnx
*.suo
*.userosscache
*.sln.docstates


# Visual Studio Code files
.vscode/

# Database files
*.db
*.opendb

# CMake build directory
build/
compile_commands.json

